pyrogram==1.3.6
asyncio==3.4.3
python-dotenv
motor
aiohttp
pymongo[srv]
psutil
emoji
tglogging
telethon
cryptg
requests
psutil
heroku3
pymongo
tgcrypto
aiofiles
py-tgcalls==0.9.6
python-dotenv
youtube_dl
youtube_search_python 
requests
ffmpeg
youtube_search
python-arq
search_engine_parser
wget 
ffmpeg-python
Pillow==9.1.0
ujson
yt-dlp
