pyrogram==1.4.16
asyncio==3.4.3
python-dotenv
aiohttp
tglogging
requests
heroku3
tgcrypto
aiofiles
py-tgcalls==0.9.6
python-dotenv
youtube_dl
youtube_search_python 
requests
ffmpeg
youtube_search
python-arq
wget 
ffmpeg-python
ujson
yt-dlp
openai==0.27.2
